:root {
	--color-accent: #c62828;
	--color-background: #f9f9f9;
	--color-border: #e0e0e0;
	--color-hover: #ffffff25;
	--color-link: #4361ee;
	--color-shadow: #0000001a;
	--color-surface: #fff;
	--color-text-primary: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background-color: var(--color-background);
	color: var(--color-text-primary);
}

ul {
	list-style: none;
}

.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	padding: 1.5rem;
}

.box,
.modal {
	align-items: start;
	background: var(--color-surface);
	border-radius: 0.5rem;
	box-shadow: 0 2px 5px var(--color-shadow);
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	padding: 1.25rem;
	width: 100%;
}

.primary-title {
	font-size: 2rem;
}

.secondary-title {
	font-size: 1.5rem;
}

.tertiary-title {
	font-size: 1.25rem;
}

.paragraph {
	font-size: 1rem;
}
